/*reset*/
* {
    margin:0;
}
/*header and nav css*/
header {
    display:flex;
    background-color: cadetblue;
    padding:10px 20px;
}
header h1 {
    display: inline-block;
}

header nav {
    display: flex;
    margin-left: auto;
    align-items: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display:inline-block;
    margin:0 5px;
    text-align: center;
}

/*About Me Styling*/
#AboutMe {
    margin: 5% 2%;
}

#AboutMe h2 {
    text-align: center;
}

#AboutMe img {
    max-width: 15%;
}

#AboutMe p {
    max-width: 83%;
    float: right;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100px;
}

/*Work Section Styling*/
#Work {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 1%;
    background-color: lightgrey;
}

#Work h2 {
    text-align: start;
    margin: 2% 0 0 2%;
}

.PreworkProject {
    margin: 1%;
}

.PreworkProject h3 {
    text-align: center;
}

.PreworkProject img {
    max-width: 100%;
    max-height: 50%;
    min-width: 0;
}


.HoriseonProject {
   margin: 1%;
}

.HoriseonProject h3 {
    text-align: center;
}

.HoriseonProject img {
    max-width: 80%;
    max-height: 30%;
    min-width: 0;
}

.recipesForDisaster {
    margin: 1%;
 }
 .recipesForDisaster h3 {
     text-align: center;
 }
 
 .recipesForDisaster img {
     max-width: 100%;
     max-height: 50%;
     min-width: 0;
 }

 .futureProjectTwo {
    margin: 1%;
 }
 
 .futureProjectTwo h3 {
     text-align: center;
 }
 
 .futureProjectTwo img {
     max-width: 100%;
     max-height: 50%;
     min-width: 0;
 }
 
/*Contact/footer styling*/
#Contact {
    display: flex;
    background-color: cadetblue;
    padding:10px 20px;
}

#Contact h2 {
    display: inline-block;
}

#Contact ul {
    list-style-type: none;
    text-align: center;
    float: right;
}

#Contact ul li {
    display:inline-block;
    margin:0 5px;
    text-align: end;
}